

.campos{
	width:120px;
	height:40px;
	float:left;
	display: inline-block;
	padding-left: 10px;
	background-color: rgba(150,150,150,0.8);
}

.campos input{
	width:100%;
	border:none;
}

.habilidades tr{
	width:40%;
	height:50px;
}
.habilidades td{
	width:40%;
	height:50px;
}

.a{
	width:100px;
}