

.campos{
	width:120px;
	height:40px;
	float:left;
	display: inline-block;
	padding-left: 10px;
	background-color: rgba(150,150,150,0.8);
	text-align:center;
}

.campos input{
	width:100%;
	border:none;
}
.habilidades input{
	border-radius:10px;
	/*background-color:transparent;*//*interessante, deixa realmetne transparente*/
}
.habilidades td{
	vertical-align: top;
}

.a{
	width:100px;
}

.total{
	width:100%;
}
.b{
<<<<<<< HEAD
<<<<<<< HEAD
	width:15%;
=======
	width:22%;
>>>>>>> 6837104b2b0cf16644627d200de55c4c9c090442
=======
	width:22%;
>>>>>>> b18e73be3a650b85e78633b666db14d00110f6ee
}
.c{
	width:38%;
}

.campoTest{
	width:30px;
}

.coluna1{
	background-color: rgba(50,150,250,0.4);
	width:30px;
}
.coluna1{
	text-align:center;
}

.coluna2{
	background-color: rgba(200,150,50,0.4);
	width:62%;
}