

.campos{
	width:120px;
	height:40px;
	float:left;
	display: inline-block;
	padding-left: 10px;
	background-color: rgba(150,150,150,0.8);
	text-align:center;
}

.campos input{
	width:100%;
	border:none;
}
.habilidades input{
	border-radius:10px;
	width:20%;
	/*background-color:transparent;*//*interessante, deixa realmetne transparente*/
}
.habilidades label{
	font-size:13px;
}

.habilidades td{
	vertical-align: top;
}

.total{
	width:100%;
}

.a{
	width:28%;
}
.b{
	width:18%;
}
.c{
	width:28%;
}

.campoHab{
	width:30px;
}

.coluna1 input{
	width:60%;
	height:60px;
}
.coluna1 label{
	font-size:12px;
}
.coluna1{
	background-color: rgba(50,150,250,0.4);
	width:26%;
	min-width:100px;
	text-align:center;
}

.coluna2{
	font-size:13px;
}

.coluna2{
	background-color: rgba(200,150,50,0.4);
	width:62%;
}